/*--------------------------- questions table --------------------------------*/
#questions_table {
    display: block;
    margin-top: 55px;
}

#questions_table table {
    border: 0;
    border-collapse: collapse;
}

#questions_table table thead {
    background-color: #444444;
    color: #fff;
}

#questions_table table a {
    text-decoration: none;
}

#questions_table table tr {
    padding: 10px;
}

#even_table_row {

}

#odd_table_row {
    background-color: #286C2B;
    color: #fff;
}
/*aa286C2B*/

#odd_table_row a {
    color: #fff;
}

#questions_table tfoot {
    background-color: #444444;
}

#questions_table tfoot a {
    color: #fff;
}