#questions_table { display: block; border: 4px solid #444444;  }
#questions_table th { text-align: center; }
#questions_table table { border: 0; border-collapse: collapse; min-width: 100%; }
#questions_table table thead { background-color: #444444; color: #fff; }
#questions_table table a { text-decoration: none; }
#questions_table p { display: block; margin-left: 32%; }
#question_table_img { display: block; margin-left: 50%; margin-top: 10%; }
#even_table_row { text-align: left; }
#odd_table_row  { text-align: left; background-color: #286C2B; color: #fff; }
#odd_table_row a { color: #fff; }
#questions_table tfoot { background-color: #444444; }
#questions_table tfoot a { color: #fff; }
#chartContainer { margin-bottom: 50px; height: 300px; width: 100%; }